
.container {
    max-width: 500px;
    min-height: 80vh;
    margin: 0px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container header {
    height: 60px;
    font-size: 18px;
    line-height: 60px;
    font-weight: bold;
}

.container a {
    text-decoration: none;
}

.container h3 {
    align-items: center;
    padding-top: 10px;
}

.container footer {
    padding: 50px 0px;
}
