
.container {
    display: flex; 
    width: 100%;
    gap: 10px; 
    margin-bottom: 20px; 
    white-space: nowrap;
}

.container input {
    flex: auto;
    cursor: pointer;
    padding: 15px;
    border: 2px solid rgb(37, 147, 255); 
    border-radius: 7px;
    justify-content: flex-start;
}

.container > input:focus {
    outline: none;
    border: 2px solid rgb(30, 125, 220);
}

.container button {
    justify-content: end;
    cursor: pointer;
    width: 80px;
    color: black;
    font-weight: bold;
    border: none;
    background-color: rgb(255, 238, 88);
    border-radius: 7px;
}

.container > button:hover {
    background-color: rgb(233, 225, 153);
}